# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/www/media/*
!/www/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/www/site/cache/*
!/www/site/cache/index.html

# Accounts
# ---------------

/www/site/accounts/*
!/www/site/accounts/index.html

# Sessions
# ---------------

/www/site/sessions/*
!/www/site/sessions/index.html

# License
# ---------------

/www/site/config/.license

