* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Agipo;
  src: url(/assets/font/Agipo_Regular.otf);
}
/* .main {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
} */

:root {
  --padding: 1.5rem;
  --color-primary: #29e76bff;

  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey: #cacbd1;
  --color-code-comment: #a9aaad;
  --color-code-white: #c5c9c6;
  --color-code-red: #d16464;
  --color-code-orange: #de935f;
  --color-code-yellow: #f0c674;
  --color-code-green: #a7bd68;
  --color-code-aqua: #8abeb7;
  --color-code-blue: #7e9abf;
  --color-code-purple: #b294bb;
  --font-family-sans: Agipo, "Times New Roman", "Lucida Handwriting", Verdana,
    Baskerville, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
}
img {
  width: 100%;
}
body {
  padding: var(--padding);
  max-width: 69.43rem;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

/* ------------- HEADER ------------- */

header {
  /* margin-bottom: 3rem; */
  padding: 1rem 1rem 2rem 1rem;
  background-color: var(--color-primary);
}

header .menu .main_menu {
  /* display: inline; */
  /* flex-direction: row; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.22rem;
}
header .menu .main_menu li .menu_item:hover {
  color: white;
}
.menu_item {
  position: relative;
}

.menu_item img {
  opacity: 0;
  position: absolute;
  width: 250%;
  height: 200%;
  left: -75%;
  top: -50%;
}
.menu_item_img:hover {
  opacity: 1;
}

#sub_menu_activite {
  display: block;
}
.sub_menu ul {
  /* display: list-item; */
  /* display: block; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* justify-content: start;
  align-items: start;
  font-size: 1.22rem; */
}
.sub_menu li {
  text-align: start;
}
header .menu .sub_menu li :hover {
  color: white;
}
.show {
  display: block;
}

/* ------------- FOOTER ------------- */
footer {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 5rem 2rem 5rem;
}
.abonnez_vous input {
  width: 250px;
  background: none;
  border: none;
  border-bottom: #000 solid 1px;
  font-family: var(--font-family-sans);
}
.abonnez_vous input:focus {
  /* background-color: tomato; */
  /* background: none; */
  border-bottom: #000 solid 1px;
  outline: 0;
}
/* ------------- MAIN ------------- */
main h1 {
  text-align: center;
  padding: 0rem 4rem;
  font-size: 5.635rem;
  line-height: 1;
  margin: 1.5rem 0 3rem 0;
  font-family: var(--font-family-sans);
}
main h2 {
  text-align: center;
  padding: 0rem 7.5rem;
  font-size: 2.561rem;
  line-height: 1;
  margin: 1.5rem 0;
  font-family: var(--font-family-sans);
}
main h3 {
  text-align: left;
  /* padding: 0rem 7.5rem; */
  font-size: 1.229rem;
  line-height: 1;
  margin: 1.5rem 0;
  font-family: var(--font-family-sans);
}
main ul,
main p {
  margin-bottom: 0.6rem;
}
main ul li {
  list-style: disc;
  list-style-position: inside;
}

button {
  margin: 1.5rem 0;
  padding: 1rem 6rem;
  font-size: 2.561rem;
  font-family: var(--font-family-sans);
  text-align: center;
  border: black 1px solid;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}

/* ------------- CAROUSEL ------------- */

.carousel-images {
  display: flex;
  overflow-x: hidden;
}

.carousel-inner {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 3rem;
  column-gap: 3rem;
  flex: none;
}

.carousel-inner img {
  width: 100%;
  filter: grayscale(100);
}
.carousel-inner img:hover {
  filter: grayscale(0);
}
.carousel-wrap {
  width: 100%;
  height: 29.501rem;
  background: var(--color-primary);
  /* padding: 1rem 1rem 2rem 1rem; */
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-btn,
#next-btn {
  cursor: pointer;
  padding: 20px;
  width: 50px;
  height: 30px;
  background-color: tomato;
}
