* {
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Agipo;
  src: url(/assets/font/Agipo_Regular.otf);
}
/* .main {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
} */

:root {
  /******** Colors *********/
  --padding: 1.5rem;
  --color-primary: #29e76bff;
  --color-secondary: #ffffff;
  --color-text: #000;
  --color-background: #ffffff;

  --color-A: #574cfe;
  --color-B: #ff6d30;
  --color-C: #685100;
  --color-D: #cc9900;
  --color-E: #ff9bff;
  --color-F: #ff2f00;
  --color-G: #00ab00;
  --color-H: #29e76b; /* primary */

  /******** Margin/Padding *********/
  --space-1: 30px; /*rouge (unité de base )*/
  --space-2: 60px; /*gris*/
  --space-3: 90px; /*bleu marine*/
  --space-4: 120px; /*rose*/
  --space-5: 150px; /*jaune*/

  --space-menu: 20px; /*bloc vert*/
  --space-agenda: 8px; /*bloc cyan*/

  /******** Largeur breakpoint *********/
  --maxwidth-xxl: 1365px;

  /******** Tailles Typo *********/
  --typosize-h1: 110px; /* Titre 1 Taille*/
  --typointerline-h1: 110px; /* Titre 1 Interligne*/

  --typosize-chapeau: 50px; /* Chapeau Taille*/
  --typointerline-chapeau: 54px; /* Chapeau Interligne*/

  --typosize-h2: 50px; /* Titre 2 Taille*/
  --typointerline-h2: 54px; /* Titre 2 Interligne*/

  --typosize-p: 24px; /* Texte courant  Taille*/
  --typointerline-p: 28px; /* Texte courant  Interligne*/

  --typosize-medium_p: 32px; /* Texte courant  Taille*/
  --typointerline-medium_p: 36px; /* Texte courant  Interligne*/

  --typosize-btn: 50px; /* Bouton Taille*/

  /******** Tailles Typo Agenda *********/
  --typosize-infodate: 24px; /* Agenda InfoDate Taille*/
  --typosize-agenda-h3: 32px; /* Agenda Titre Event Taille*/
  --typointerline-agena-h3: 36px; /* Agenda Titre Event Interligne*/

  /******** Tailles Typo Footer *********/
  --typosize-footer-p: 18px; /* Footer Taille*/
  --typointerline-footer-p: 22px; /* Footer Interligne*/

  /******** Font Family *********/
  --font-family-sans: Agipo, 'Times New Roman', 'Lucida Handwriting', Verdana,
    Baskerville, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
}
img {
  width: 100%;
}
body {
  padding: 0;

  max-width: var(--maxwidth-xxl);
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

/* ------------- HEADER ------------- */

header {
  /* margin-bottom: 3rem; */
  padding-top: var(--space-menu);
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  background-color: var(--color-primary);
}

header .menu .main_menu {
  /* display: inline; */
  /* flex-direction: row; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--typosize-p);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}
header .menu .main_menu li .menu_item:hover {
  color: white;
}
.menu_item {
  position: relative;
}
.menu ul {
  padding: 0;
  margin: 0;
}

.menu_item img {
  opacity: 0;
  position: absolute;
  width: 250%;
  height: 200%;
  left: -75%;
  top: -50%;
}
.menu_item_img:hover {
  opacity: 1;
}

#sub_menu_activite {
  display: contents;
}
.sub_menu ul {
  margin: 0;
  padding: 0;
  /* display: list-item; */
  /* display: block; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* justify-content: start;
  align-items: start;
  font-size: 1.22rem; */
}
.sub_menu li {
  text-align: start;
}
header .menu .sub_menu li :hover {
  color: white;
}
.show {
  display: block;
}

/* ------------- MAIN ------------- */
section:nth-child(even) {
  background-color: var(--color-primary);
}

section {
  padding-top: var(--space-1);
  padding-bottom: var(--space-2);
  margin: 0;
}
.sec_padd1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  margin: 0;
}
.sec_carousel {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
hr {
  padding-top: var(--space-1);
  padding-bottom: 0;
  margin: 0;
  color: transparent;
  border: none;
}
.titre {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
.info {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
.tarifs {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--space-5);
  padding-right: var(--space-5);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--space-1);
  row-gap: var(--space-1);
}
.tarif {
  border: 1px solid var(--color-text);
  border-radius: 15px;
  padding: var(--space-2) var(--space-1) var(--space-1) var(--space-1);
  text-align: center;
}
.tarif_prix p {
  font-size: var(--typosize-h1);
  line-height: var(--typointerline-h1);
  font-weight: 100;
}
.grid_personnnes {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--space-2);
  padding-right: var(--space-2);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--space-2);
  row-gap: var(--space-1);
}
.mecenes {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--space-2);
  padding-right: var(--space-2);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: var(--space-2);
  row-gap: var(--space-1);
}
h1 {
  text-align: center;
  font-size: var(--typosize-h1);
  line-height: var(--typointerline-h1);
  font-weight: 100;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: var(--typosize-h2);
  line-height: var(--typointerline-h2);
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 100;
  /* font-family: var(--font-family-sans); */
}
p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--typosize-p);
  line-height: var(--typointerline-p);
  /* font-family: var(--font-family-sans); */
}
.link_blackToPrimary:hover {
  color: var(--color-primary);
}
.link_blackToSecondary:hover {
  color: var(--color-secondary);
}
.medium_p p,
.medium_p a,
.medium_p li {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--typosize-medium_p);
  line-height: var(--typointerline-medium_p);
}
.small_p,
.small_p p,
.small_p a {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--typosize-p);
  line-height: var(--typointerline-p);
}
.small_p li {
  padding: 0;
  /* text-align: left; */
  /* list-style-type: none; */
}
.chapeau {
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}
.image {
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}
.chapeau p {
  font-size: var(--typosize-chapeau);
  line-height: var(--typointerline-chapeau);
  /* font-family: var(--font-family-sans); */
  text-align: center;
  margin: 0;
  padding: 0;
}

main ul li {
  list-style: disc;
  list-style-position: inside;
}

button {
  margin: 0;
  padding: var(--space-agenda) var(--space-4);
  /* padding: 1rem 6rem; */
  font-size: var(--typosize-btn);
  /* font-family: var(--font-family-sans); */
  text-align: center;
  border: black 1px solid;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
.bouton {
  text-align: center;
}
.btn_primary {
  background-color: var(--color-primary);
}
.btn_primary:hover {
  background-color: var(--color-secondary);
}
.btn_secondary {
  background-color: var(--color-secondary);
}
.btn_secondary:hover {
  background-color: var(--color-primary);
}

.two_col {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space-3);
  row-gap: var(--space-2);
}
.imageInCol {
  padding-left: 0;
  padding-right: 0;
}
.h100 {
  height: 100%;
}
/* ------------- FOOTER ------------- */
.footer {
  /* background-color: var(--color-primary); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  padding-left: var(--space-4);
  padding-right: var(--space-4);

  font-size: var(--typosize-footer-p);
  line-height: var(--typointerline-footer-p);
}
.abonnez_vous input {
  width: 250px;
  background: none;
  border: none;
  border-bottom: #000 solid 1px;
  font-size: var(--typosize-p);
  font-family: var(--font-family-sans);
}
.abonnez_vous input:focus {
  border-bottom: #000 solid 1px;
  outline: 0;
}

/* ------------- CAROUSEL ------------- */
.slider-wrapper {
  /* margin: 1rem; */
  position: relative;
  overflow: hidden;
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.slides-container {
  max-height: 600px;
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slides-container li {
  list-style-type: none;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  overflow: hidden;
}
.slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 100px; */
}

/* .slide:nth-child(1) {
  background-color: #49b293;
}

.slide:nth-child(2) {
  background-color: #b03532;
}

.slide:nth-child(3) {
  background-color: #6a478f;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #da6f2b;
} */

/* footer {
  padding: 1em;
  text-align: center;
  background-color: #FFDFB9;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #DC143C;
} */
