* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Agipo;
  src: url(/content/agipo-regular.otf);
}

:root {
  --padding: 1.5rem;
  --color-primary: #29e76bff;

  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey: #cacbd1;
  --color-code-comment: #a9aaad;
  --color-code-white: #c5c9c6;
  --color-code-red: #d16464;
  --color-code-orange: #de935f;
  --color-code-yellow: #f0c674;
  --color-code-green: #a7bd68;
  --color-code-aqua: #8abeb7;
  --color-code-blue: #7e9abf;
  --color-code-purple: #b294bb;
  --font-family-sans: Agipo, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
}
img {
  width: 100%;
}
body {
  padding: var(--padding);
  max-width: 70rem;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

/* ------------- HEADER ------------- */
header {
  /* margin-bottom: 3rem; */
  padding: 1rem 1rem 2rem 1rem;
  background-color: var(--color-primary);
}

header .menu ul {
  /* display: inline; */
  /* flex-direction: row; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu ul li:hover {
  color: white;
}
.menu_item {
  position: relative;
}

.menu_item img {
  opacity: 0;
  position: absolute;
  width: 250%;
  height: 250%;
  left: -75%;
  top: -75%;
}
.menu_item_img:hover {
  opacity: 1;
}

/* ------------- FOOTER ------------- */
footer {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 1rem 2rem 1rem;
}

/* ------------- MAIN ------------- */
main h1 {
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 400%;
}
