/* --------- DOMAINES D'ACTIVITE --------- */

.domains {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--space-2);
  padding-right: var(--space-2);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  column-gap: var(--space-2);
  row-gap: var(--space-2);
}
.domains li {
  list-style-type: none;
}
.domain {
  text-align: center;
  padding: 0;
  margin: 0;
}
.domain:hover {
  color: var(--color-primary);
  cursor: pointer;
}
.domain figure {
  margin: 0;
  width: 100%;
}
.domain figure img {
  margin: 0;
  padding: auto;
  width: 7rem;
  height: 7rem;
}
.domain figcaption {
  /* height: 2.437rem; */
  font-size: 2.561rem;
  line-height: 1;
  padding-bottom: 1.5rem;
  font-family: var(--font-family-sans);
}
.domain p {
  font-size: 1.229rem;
  line-height: 1;
  padding-bottom: 1.5rem;
}

/* --------- CONTACTEZ-NOUS --------- */
/* 
.contactezNous {
  width: 100%;
  background: var(--color-primary);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactezNous p {
  padding: 1.5rem 7.5rem;
  font-size: 2.561rem;
  font-family: var(--font-family-sans);
  text-align: center;
} */
/* .contactezNous  */
