@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Agipo;
    src: url(/content/Agipo_Regular.otf);
  }
  
@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
  }